body{
color:/*#ffffff*/;
background-color:/*#bf3119*//*cc0000*//*b20008*//*d6a31f*//*4c7c73*//*3a734d*/;

}
.wrapper,figure{
margin-left:auto;
margin-right:auto;
}
/*Main Body*/
.wrapper{
	width:80%;
	max-width:1800px;
	display:grid;
	margin-top:5%;
	grid-template-columns:20% 50% 30%;
	grid-gap:0;
	font-family:'Verdana',sans-serif;
	font-size:14px;
	padding-bottom:2.5rem;
}
h2{
	font-family:'Coda', cursive;
	margin-bottom:0;
}
	/*headshot and caption*/
figure{
	width:100%;
	max-width:180px;
	height:auto;
	margin-right:;

}
figure img{
	width:100%;
	box-shadow:0 0 5px #f0f0f0; 
	border-radius:8px;
}
figcaption{
	font-family:'Coda',cursive;
	font-size:18px;
	font-weight:700;
}
figcaption:nth-of-type(2){
	font-size:14px;
	font-style:oblique;
	font-weight:400;
}
#s1figure{
	margin-top:10%;
	grid-column-start:1;
	grid-column-end:2;
	grid-row-start:1;
	grid-row-end:3;
}
	/*sections*/
#s2background{
	margin-top:60px;
	grid-column-start:2;
	grid-column-end:3;
	padding-left:6%;
	padding-right:6%;
}
#s2background p{
	margin-left:4%;
	margin-right:4%;
}
#s3skill{
	margin-top:60px;
	grid-column-start:3;
	grid-row-start:1;
	grid-column-end:4;
	grid-row-end:3;
	padding-right:20%;

	
}
#s4new{
	grid-column-start:2;
	grid-column-end:3;
	padding-left:6%;
	padding-right:6%;
	padding-bottom:20px;	
}
#s4new p{
	margin-left:4%;
	margin-right:4%;
}
#s5future{
	grid-column-start:2;
	grid-column-end:3;
	padding-left:6%;
	padding-right:6%;
	margin-bottom:10%;
}
#s5future p{
	margin-left:4%;
	margin-right:4%;
}
#listtitle button{
	width:92%;
	padding:5px 5px;
	margin-left:4%;
	margin-right:4%;
	border-top:2px solid black;
	border-bottom:2px solid black;
	border-right:none;
	border-left:none;
	outline:none;
	transition:0.2s;
	cursor:pointer;
	background-color:inherit;
	text-align:left;
	font-size:18px;
	font-weight:700;
	color:#000000;
}
#listtitle button img{
	width:10px;
	background-color:inherit;
	margin-right:4px;
}
#s4new ul{
	display:none;
	margin-left:4%;
	margin-right:4%;
}
section li{
	font-size:12px;
	margin-bottom:16px;

}
#quote{
	font-size:15px;
	font-style:oblique;
	margin-left:4%;
	margin-right:4%;
}
footer{
	position:absolute;
	bottom:0;
	height:2.5rem;
	width:100%;
	background-color:;
	text-align:center;
	font-size:0.8rem;
}
/*Laptop*/
@media only screen and (min-width:769px) and (max-width:1024px){
	.wrapper{
		width:85%;
	}
}
/*Tablet*/
@media only screen and (max-width:481px) and (max-width:768px){
	/*Main Body*/
	.wrapper{
		width:95%;
	}
	figure{
		max-width:180px;
	}
	figcaption{
		font-size:14px;
	}
	figcaption:nth-of-type(2){
		font-size:12px;
	}
	section:nth-of-type(n+2){
		padding-left:15px;
	}

	section:nth-of-type(1){
		margin-top:30px;
		max-width:200px;
	}
	section:nth-of-type(2),section:nth-of-type(3){
		margin-top:50px;
	}
	section:nth-of-type(2){
		max-width:400px;
		
	}
	#listtitle button{
		font-size:16px;
	}
	#listtitle button img{
		width:10px;
		margin-right:3px;
	}
	section li{
		font-size:12px;
		margin-bottom:14px;
	}
	#quote{
		font-size:13px;
	}
}
/*Mobile*/
@media only screen and (max-width:480px){

	/*Main Body*/
	.wrapper{
		width:96%;
		grid-template-columns:50% 50%;
		grid-template-areas:none;
		
	}
	
	figure{
		max-width:100px;
		margin-left:10px;
	}
	
	figcaption{
		font-size:12px;
	}
	
	figcaption:nth-of-type(2){
		font-size:11px;
	}	
	section:nth-of-type(n+2){
		padding-left:20px;
	}

