/*Desktop*/
*{
box-sizing:border-box;
}

/*Main Body*/
.wrapper{
	width:80%;
	padding-bottom:2.5rem;
	margin-left:auto;
	margin-right:auto;
	

}
#main_article{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	padding-bottom:20px;
	background-color:#C1E1C1;
	border:20px solid #fff;

}
#searchbar{
	float:right;
	margin:5% 5% 0 0;
}
#search_type{
	background-color:inherit;
	border:none;
}
#search_input{
	background-color:inherit;
	border:none;
	border-bottom:1px solid black;
	outline:none;
	color:#000000;
}

article{
	font-family:'Coda', sans-serif;
}

.blogpost{
	width:60%;
	margin:20px auto 0 auto;
	background-color:#fff;

}
.blogpost:first-of-type{
	margin-top:15%;
}
.bp_title{
	padding:8px 10px;
	color:#fff;
	background-color:#0a0a0a;
	
}
.bp_title span{
	font-weight:;
}
.bp_title time{
	float:right;
	font-size:14px;
}

.bp_content{
	padding:0px 25px 4px 25px;
}
.bp_content p{display:block;}


h1{
	width:40%;
	margin-left:auto;
	margin-right:auto;
	background-color:inherit;
	color:#000000;
	font-family:"Courier New",monospace;
}
footer{
	position:absolute;
	bottom:0;
	height:2.5rem;
	width:100%;
	background-color:;
	text-align:center;
	font-size:0.8rem;
}
/*Laptop*/
@media only screen and (min-width:769px) and (max-width:1024px){

}
/*Tablet*/
@media only screen and (max-width:481px) and (max-width:768px){

}
/*Mobile*/
@media only screen and (max-width:480px){
	h1{
		width:80%;
	}
}
