*{
box-sizing:border-box;
}
/*Main Body*/
.wrapper{
	height:78%;
	width:50%;
	margin-top:3%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	background-color:#2c2c2c;
	border:#e8e8e8 ridge 4px;
	border-radius:8px 8px 8px 8px;
	box-shadow:0 0 10px #000000;
}
.title{
	width:40%;
	margin-left:auto;
	margin-right:auto;
	
}
h1{
	 text-shadow:0 0 6px #f0f0f0;
	padding-top:4%;
	padding-bottom:4%;
	text-align:center;
	color:#ffffff;
	font-family:"Courier New",monospace;
	
}
/*table for external code links and sorting*/
table{
	border-collapse:collapse;
	margin-left:auto;
	margin-right:auto;
	background-color:#ffffff;
	border-radius:8px;
}

thead{
	display:table-header-group;
	vertical-align:middle;
	border-color:inherit;
	border-radius:8px;
}
.sort{
	background:url('../Assets/arrows.png');
	background-repeat:no-repeat;
	background-size:1rem 1rem;
	width:1rem;
	height:1rem;
	border:none;
	float:right;
}
thead th:first-child{
border-radius:8px 0 0 0;
}
thead th:last-child{
border-radius:0 8px 0 0;
}

th,td{
	text-align:left;
	padding-left:0.5rem;
	padding-right:0.5rem;
	padding-bottom:0.5rem;
	padding-top:0.5rem;
	font-size:1rem;
}

th{
	color:#ffffff;
	background-color:#cb6d51;
}
th:nth-of-type(1),td:nth-of-type(1){
	width:18rem;
}

tr:nth-of-type(odd){
	background-color:#f1f1f1;
	color:#000000;
}
tr:nth-of-type(even){
	background-color:#cb6d51;
	color:#ffffff;
	opacity:80%
}

td{
	font-size:1rem;

}
td a{
	font-family:Verdana,sans-serif;
	color:inherit;
	text-decoration:none;
}
td:nth-of-type(2){
	font-size:1rem;
}


/*Laptop*/
@media only screen and (min-width:769px) and (max-width:1024px){
	.wrapper{
		width:80%;	
	}
}
/*Tablet*/
@media only screen and (max-width:481px) and (max-width:768px){
	.wrapper{
		width:100%;
	}

}
/*Mobile*/
@media only screen and (max-width:480px){
	.
}
