*{
box-sizing:border-box;
}
.wrapper{
position:relative;
min-height:80%;
width:60%;
margin-left:auto;
margin-right:auto;
margin-top:2%;
padding-top:0.5%;
padding-bottom:20px;
background-color:#;

}
h1,#galsubtxt{
	text-align:center;
	
}
h1{
 margin-bottom:0;	
}
#galsubtxt h4{
	margin:0;
}
#galsubtxt span{
	font-size:0.6rem;
}
/*Gallery*/
#gallery{
	
	width:80%;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	font-size:0;
	padding:2%;
	display:grid;
	grid-column-gap:2%;
	grid-row-gap:4%;
	grid-template-columns:23.5% 23.5% 23.5% 23.5%;

}

.gItem{
	width:100%;
	height:10vw;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	background-color:#ffffff;
}

.gItem img{
	width:100%;
	height:100%;
	object-fit:cover;
}

.gItem img:hover{
	cursor:pointer;
	opacity:80%;
}

.caption{
	display:none;
	width:100%;
	height:10%;
	font-size:1vw;
}

.lightBox{
	display:none;
	overflow:auto;
	position:fixed;
	width:100%;
	height:100%;
	left:0;
	top:0;
	z-index:1;
	padding:0;
	background-color:rgb(0,0,0);
	background-color:rgb(0,0,0,0.6);
}

#modalImage{
	display:block;
	position:relative;
	max-width:1000px;
	max-height:80%;
	top:50%;
	transform:translateY(-50%);
	margin:auto;
}

#prev,#next{
	position:absolute;
	width:auto;
	top:50%;
	transform:translateY(-50%);
	padding:16px;
	cursor:pointer;
	font-size:60px;
	font-weight:bold;
	color:white;
	transition:0.6s ease;
	
}

#next{
	right:20px;
	border-radius: 3px 0 0 3px;
}

#prev{
	left:20px;
	border-radius:0 3px 3px 0;
}

#close{
	position:absolute;
	top:15px;
	right:35px;
	transition:0.3s;
	font-size:60px;
	font-weight:bold;
	color:#f1f1f1;
}

#close:hover,#close:focus{
	cursor:pointer;
	text-decoration:none;
	color:#bbb;
}

/*Laptop*/
@media only screen and (min-width:769px) and (max-width:1024px){

}
/*Tablet*/
@media only screen and (max-width:481px) and (max-width:768px){

}
/*Mobile*/
@media only screen and (max-width:480px){
	.wrapper{
		width:100%;
	}
	
	#galsubtxt span{
		font-size:0.5rem;
	}
	/*Gallery*/
	#gallery{
		width:90%;
	}

	.gItem{
		height:20vw;
	}

	#modalImage{
		max-width:80%;
		max-height:80%;
	}

	#prev,#next{
		padding:4px;
		font-size:20px;
	}

	#next{
		right:5px;
	}

	#prev{
		left:5px;
	}

	#close{
		position:absolute;
		top:5px;
		right:15px;
		transition:0.3s;
		font-size:30px;
		font-weight:bold;
		color:#f1f1f1;
	}
}
