/*!Initially optimized for 1920x1080 with Chrome!*/
*{
box-sizing:border-box;
}
html,body{
	height:100%;
	width:100%;
	margin:0%;
	background-color:#f5f5f5;
	font-family:Arial,Helvetica,sans-serif;
}

/*Navigation*/
#nav ul{
	overflow:hidden;
	width:100%;
	list-style-type:none;
	background-color:#2a2a2a;
	margin:0;
	padding-left:1%;
	padding-right:1%;
	box-shadow:0 5px 5px #f1f1f1;
}
#nav li{
	float:left;
	padding-left:8px;
	padding-right:8px;
	padding-top:12px;
	padding-bottom:12px;
}

#nav li a{
	display:block;
	text-align:center;
	color:#f1f1f1;
	font-size:1.2em;
	text-decoration:none;
	font-family:'Coda', cursive;
}
#nav img{
	float:left;
	width:2em;
	padding-top:0.4em;
}
#nav li a:hover{
	color:#808080;
	cursor:pointer;
}
#nav .current{
	color:#d35400;
}

/*External Media Links*/
#nav .smlink{
	float:right;
	padding:2px 3px 2px 3px;
	
}

#nav .smlink a img{
	width:26px;
	height:auto;
	padding-top:auto;
	vertical-align:middle;
}
#nav .smlink a:hover{
	opacity:80%;
	cursor:pointer;
}
/*Laptop*/
@media only screen and (min-width:769px) and (max-width:1024px){

/*Tablet*/
@media only screen and (max-width:481px) and (max-width:768px){

}
/*Mobile*/
@media only screen and (max-width:480px){
#nav li{
	float:left;
	padding-left:4px;
	padding-right:4px;
}

#nav li a{
	display:block;
	text-align:center;
	color:#f1f1f1;
	font-size:1em;
	text-decoration:none;
	font-family:'Coda', cursive;
}
#nav img{
	float:left;
	width:2em;
	padding-top:0.4em;
}
/*External Media Links*/
#nav .smlink{
	float:right;
	padding:2px 3px 2px 3px;
	
}

#nav .smlink a img{
	width:15px;
}
#nav .smlink a:hover{
	opacity:80%;
	cursor:pointer;
}

}