/*!Initially optimized for 1920x1080 with Chrome!*/
*{
box-sizing:border-box;
}
html,body{
	height:100%;
	width:100%;
	margin:0%;
	background-color:#ffffff;
	font-family:Arial,Helvetica,sans-serif;
}

/*Navigation*/
#nav ul{
	overflow:hidden;
	width:100%;
	list-style-type:none;
	background-color:#2a2a2a;
	margin:0;
	padding-left:1.5%;
}
#nav li{
	float:left;
	margin-left:;
	margin-right:;
	padding:8px;
	padding-top:12px;
	padding-bottom:12px;
}

#nav li a{
	display:block;
	text-align:center;
	font:;
	color:#f0f0f0;
	font-size:1.2em;
	text-decoration:none;
}
#nav li a:hover{
	color:#808080;
	cursor:pointer;
}
#nav .active{
	color:#d35400;
}

/*External Media Links*/
.smedialink{
	float:right;
	margin-top:5px;
	margin-right:5px;
	
}
.smedialink a{
	margin:1px;
}
.smedialink a img{
	max-width:28px;
	height:auto;
}
.smedialink a:hover{
	opacity:80%;
	cursor:pointer;
}