/*Desktop*/
*{
box-sizing:border-box;
}
html,body{
	height:100%;
	width:100%;
	margin:0%;
	background-color:#f6f6f6;
	font-family:Arial,Helvetica,sans-serif;
}

/*Navigation*/
#nav ul{
	overflow:hidden;
	width:100%;
	list-style-type:none;
	background-color:#2a2a2a;
	margin:0;
	padding-left:1.5%;
}
#nav li{
	float:left;
	margin-left:;
	margin-right:;
	padding:8px;
	padding-top:12px;
	padding-bottom:12px;
}

#nav li a{
	display:block;
	text-align:center;
	font:;
	color:#f0f0f0;
	font-size:1.2em;
	text-decoration:none;
}
#nav li a:hover{
	color:#808080;
}
/*Social Media Links*/

.mediaPort{
	float:right;
	margin-top:5px;
	margin-right:5px
	
}
.mediaPort a{
	margin:1px;
}
.mediaPort a img{
	max-width:100%;
	height:auto;
}
/*Main Body*/
.wrapper{
width:50%;
margin-top:30px;
margin-left:auto;
margin-right:auto;
background-color:#FFFFFF;
height:830px;
box-shadow: 0 0 10px 4px #282828;
}
.buttons{
	float:right;
	margin:2px;
}
.buttons img{
	width:30px;
	height:auto;
}


article{
	width:80%;
	padding:4px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	background-color:#FFFFFF;
}

iframe{
height:600px; 
width:100%;
}

#text{
}
@media only screen and (min-width:992px) and (max-width:1200px){

}
@media only screen and (min-width:768px) and (max-width:991px){

@media only screen and (max-width:767px){
	.mediaPort a{
		margin:1%;
	}
}
