body{
	background-color:#434343;
}
a{
	text-decoration:none;	
}
.gridbox{	
	margin-left:auto;
	margin-right:auto;
	width:60%;
	display:grid;
	grid-template-columns:25% 25% 25% 25%;
	grid-gap:0;
}
.portals{
	width:90%;
	margin-left:auto;
	margin-right:auto;
}

.portals img{
	width:100%;
	max-width:300px;
	height:auto;
}

.portals{
	margin-top:25%;
	margin-left:auto;
	margin-right:auto;
}
.portals:hover{
	opacity:60%;	
}
.portals span{
	display:block;
	font-size:2rem;
	font-family:'Coda',cursive;
	font-weight:700;
	text-align:center;
	color:#eee;
}

/*Laptop*/
@media only screen and (min-width:769px) and (max-width:1024px){
	.gridbox{	
	width:70%;
	}
	.portals span{
		font-size:1.75rem;
	}
}
/*Tablet*/
@media only screen and (min-width:481px) and (max-width:768px){
	.gridbox{	
		width:80%;
		grid-template-columns:1fr 1fr 1fr;
	}
	.portals span{
		font-size:1.5rem;
	}
}
/*Mobile*/
@media only screen and (max-width:480px){
	.gridbox{	
		width:100%;
		grid-template-columns:1fr 1fr;
	}
	.portals{
		width:80%;
	}
	.portals span{
		font-size:1.25rem;
	}
}

