a{
	text-decoration:none;	
}
.showcase{	
	margin-left:auto;
	margin-right:auto;
	width:60%;
	display:grid;
	grid-template-columns:25% 25% 25% 25%;
	grid-gap:0;
}
.portals{
	width:90%;
	margin-left:auto;
	margin-right:auto;
}

.portals img{
	width:100%;
	max-width:300px;
	height:auto;
}

.portals{
	margin-top:25%;
	margin-left:auto;
	margin-right:auto;
}
.portals:hover{
	opacity:60%;	
}
.portals span{
	display:block;
	font-size:30px;
	font-family:'Coda',cursive;
	font-weight:800;
	text-align:center;
	color:#0a0a0a
}

/*Laptop*/
@media only screen and (min-width:769px) and (max-width:1024px){
}
/*Tablet*/
@media only screen and (min-width:481px) and (max-width:768px){

}
/*Mobile*/
@media only screen and (max-width:480px){
	/* nav height = 2.4375rem*/
	#nav img:nth-of-type(1){
		display:none;
	}
	#nav li{
		padding:0.5rem 0.25rem;
	}

	#nav li a{
		font-size:1rem;
	}
	/*External Media Links*/
	#nav .smlink{
		padding:0.625rem 0.25rem;
	}
	#nav .smlink a img{
		height:1.1875rem;
		width:1.1875rem;
	}
}

