h1{
	text-align:center;
}
table{
	margin-left:auto;
	margin-right:auto;
	border-collapse:collapse;
	border:3px solid black;	
}
td{
	width:38px;
	height:38px;
	text-align:center;
	border:1px solid #000;	
}
td:nth-of-type(3n){
	border-right:3px solid #000;
}
tr:nth-of-type(3n){
	border-bottom:3px solid #000;
}
button{
	margin-top:30px;
	border:2px solid black;
	margin-left:auto;
	margin-right:auto;
}
p{
	text-align:center;
}
input[type='text']{
	width:90%;
	height:90%;
	
}
input{
	border:none;
	display:block;
	outline:none;
	text-align:center;
	font-family:"Times New Roman",serif;
	font-size:1em;
	
}