#container{
	background-color:#434343;
}

.flexbox{
	margin-top:calc(14px + 0.875rem);
}

/*Main Body*/
.wrapper{
	width:76%;
	margin:0 auto;
	padding-bottom:2.5rem;
}

h3{
	margin:0.25rem 0;
	padding-left:0.25rem;
	font-family:'Open Sans',sans-serif;
	color:#2a2a2a;
	text-transform:uppercase;
	font-weight:700;
}
	
#searchbar select,#searchbar input{
	font-size:0.875rem;
	font-family:'Ariel',sans-serif;
}
#searchbar{
	display:flex;
	margin:0;
}
#searchbar:before{
	content:'';
	flex:2;
}
#searchbar:after{
	content:'';
	flex:0.5;
}
#searchbar select{
	background-color:inherit;
	border:none;
	outline:none;
	cursor:pointer;
	color:#d35400;
}
#searchbar input{
	background-color:inherit;
	border:none;
	border-bottom:1px solid black;
	outline:none;
	color:#fff;
}

.blogpost{
	max-width:640px;
	margin:2rem auto;
	padding:0.25rem;
	color:#000;
	background-color:#fff;
	border-radius:0.5rem;
	box-shadow:0 0 0 0.25rem #c3922e;
}
.blogpost:first-of-type{
	margin-top:2rem;
	
}
.subhead{
	display:flex;
	margin:0 0.5em;
	color:#000;
	border-bottom:1px dashed;
	font-size:0.875rem;
	font-family:Tahoma;
	font-weight:300;
	letter-spacing:0.125em;
}
.content{padding:0 0.75rem;}

/*Laptop*/
@media only screen and (min-width:769px) and (max-width:1024px){
	.wrapper{
		width:78%;
	}
	.blogpost{
		max-width:600px;
	}
}
/*Tablet*/
@media only screen and (min-width:481px) and (max-width:768px){
	.wrapper{
		width:80%;
	}
	.blogpost{
		max-width:500px;
	}
}
/*Mobile*/
@media only screen and (max-width:480px){
	.wrapper{
		width:90%;
	}
	.blogpost{
		max-width:400px;
	}
}
